.ciclegraph {
    background-color: lightgray;
    position: relative;
    width: 25em;
    height: 30em;
    margin: auto;
}

.ciclegraph .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5em;
    margin: calc( -5em / 2);
    background: teal;
}