h1 {
    color: red
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#faces_div {
    position: relative;
    width: 40em;
    height: 30em;
    background-color: lightgray;
    margin-top: 1em
}

#faces_div img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: calc(-10em / 2);
    background: teal;
    max-width: 10em;
    max-height: 10em;
    transition-duration: 3s;
}

#load_bar {
    width: 40em;
    accent-color: rebeccapurple;
}

#full_load {
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    color: #bfbfbf;
    text-align: center;
    cursor: wait;
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 2em;
    height: 2em;
    border-radius: 0.5em;
}

.button-icon {
    height: 2.5em;
    padding: 0.1em;
    margin: 0.5em;
}

.big-icon {
    width: 4em;
    height: 4em;
    border-radius: 1em;
}

.big-button-icon {
    height: 5em;
    padding: 0.2em;
    margin: 0.5em;
}

.rotate {
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#hidden_faces_div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    display: none;
}

#hidden_faces_div img {
    position: absolute;
    top: 0;
    left: 0;
}