h1 {
    color: red
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#faces {
    position: relative;
    width: 40em;
    height: 30em;
    background-color: lightgray;
    margin-top: 1em
}

#faces img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: calc( -10em / 2);
    background: teal;
    max-width: 10em;
    max-height: 10em;
    transition-duration: 3s;
}

#load {
    width: 40em;
    accent-color: rebeccapurple;
}

#hidden_faces {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    display: none;
}
#hidden_faces img {
    position: absolute;
    top: 0;
    left: 0;
}